<h1>Admin Dashboard</h1>
<table class="table table-bordered">
  <tr>
    <th>Categories</th>
    <th>Products</th>
  </tr>
  <tr>
    <td><a href='/admin/products'><%= @categories %></td></a>
    <td><a href='/admin/products'><%= @products %></td></a>
  </tr>
</table>

